#page{
    padding-top: 70px;

}

#landing{
    height: calc(100vh - 70px);
    background-color: aliceblue;
    background-image: url(https://images2.alphacoders.com/774/thumb-1920-774372.jpg);
}

#cv{
    height: 100vh;
    background-color: rgb(141, 202, 255);
}

#image{
    position: absolute;
    right: 100px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;

}

#text{
    position: absolute;
    left: 300px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

#cv{
    display: flex;
    vertical-align: auto;
    height: calc(100vh - 70px);
}

#ausbildung, #ueber_mich, #schule, #interessen{
    background-color: bisque;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills{
    height: calc(100vh - 70px);
    background-color: chartreuse;
    
}



@keyframes schule {
    from {margin-left: 0px;}
    to {margin-left: 200px;}
  }
  
  @keyframes schule_reverse {
    from {margin-left: 200px;}
    to {margin-left: 0px;}
  }
  